ANTHROPIC_API_KEY=your_claude_api_key_here

AZURE_CLIENT_ID='217e89fd-0eec-4611-82f5-6fbff669c13d'
AZURE_CLIENT_SECRET='dda0a702-3e0f-46a3-a2c4-12392ff06b71'
AZURE_TENANT_ID='8a3440ec-49e3-43df-a533-8fce5e646e49'
AZURE_REDIRECT_URI=https://<your-codespace-name>-5000.preview.app.github.dev/callback

PORT=5000
DEBUG=True
